<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <h2>Register</h2>

    <form action="/register" method="POST">
        <tr>
            <td>Username</td>
            <td><input type="text" id="username" name="username"></td> <br>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" id="email" name="email"></td>  <br>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="password" name="password"></td> <br>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" id="Phone_Number" name="Phone_Number"></td> <br>
        </tr>
        <tr>
            <td>Home Address</td>
            <td><input type="text" id="home_address" name="home_address"></td> <br>
        </tr>
        <tr>
            <td>NIC number</td>
            <td><input type="text" id="NIC_number" name="NIC_number"></td> <br>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" id="gender" name="gender"></td> <br>
        </tr>
        <input type="submit">
        </form>
</body>
</html>